mixin makefactions(number, title)
	.factions-header.flex.uppercase
		input.faction-name.label(type='text', spellcheck='false', name=`attr_factions${number}_header`, value=title)
		span.faction-tier(data-i18n='tier') Tier
		span.faction-hold(data-i18n='hold') Hold
		span.faction-status(data-i18n='status') Status
	fieldset(class=`repeating_factions${number}`)
		.faction
			input.expand(type='checkbox', name='attr_expand', value='1')
			span
			input.faction-name(type='text', spellcheck='false', name='attr_name')
			input.faction-tier(type='text', spellcheck='false', name='attr_tier')
			input.faction-hold(type='text', spellcheck='false', name='attr_hold')
			input.faction-status(type='number', name='attr_status')
			textarea(spellcheck='false', name='attr_notes', data-i18n-placeholder='faction_notes', placeholder='Faction notes')

//- Faction Sheet
.type-faction.flex-wrap
	input.hidden.input-clocks-only(type='checkbox', name='attr_setting_clocks_only', value='1')
	.factiontitle.flex.col100
		input.label(type='text', spellcheck='false', name='attr_factions_title', value='Factions of Doskvol')
		input.hidden.hider(type='checkbox', name='attr_show_faction_generatebutton', value='1', checked='')
		label.generatebutton
			input(type='checkbox', name='attr_generate_factions')
			span(data-i18n='generate_factions') Generate Factions
		+fortunebutton('fortunebutton borderbutton', 'Fortune_faction', 'roll_fortune', '{{fortune=1}} {{title-fortune=1}} {{title=^{fortune}}} {{short=1}} {{character_name=}}', true) Roll Fortune
	.factions.flex
		.col24b.white-repcontrol
			+makefactions(1, 'Underworld')
		.col24b.white-repcontrol
			+makefactions(2, 'Institutions')
		.col24b.white-repcontrol
			+makefactions(3, 'Labor & Trade')
			+makefactions(4, 'The Fringe')
		.col24b.white-repcontrol
			+makefactions(5, 'Citizenry')
			.warblurb.def-margin
				.label(data-i18n='war') War
				ul
					li.nondot(data-i18n='warblurb1') When you're at war with any number of factions (status -3), the following penalties apply:
					li(data-i18n='warblurb2') Lose 1 hold (temporarily, while the war persists). This may knock you down a Tier.
					li(data-i18n='warblurb3') PCs get only one free downtime action instead of two.
					li(data-i18n='warblurb4') Take +1 heat from each score.
					li(data-i18n='warblurb5') Your claims which generate coin (vice dens, fighting pits, fences, etc.) produce only half their normal income (round down).
	.clocks.col55.white-repcontrol
		.specialheader.label(data-i18n='clocks') Clocks
		fieldset.repeating_factionclock
			+makeclock
	.col45.right-column
		textarea.notes(spellcheck='false', name='attr_faction_notes', data-i18n-placeholder='notes', placeholder='Notes')
